.password-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .password-container input {
    width: 100%;
    padding-right: 40px; 
  }
  
  .toggle-password {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .auth-box {
    background: white;
    padding: 30px;
    width: 350px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 10px;
  }
  
  .auth-box h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .auth-box input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .auth-box button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #ffc107 !important;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .auth-box button:hover {
    background: white;
  }
  
  .toggle-text {
    margin-top: 15px;
    color: #007bff;
    cursor: pointer;
  }
  
  .toggle-text:hover {
    text-decoration: underline;
  }
  